<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Page Flip</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

<div class="flip-book" id="bookElement">
</div>

<script src="static/page-flip.browser.js"></script>
<script>
    const bookElement = document.getElementById("bookElement");
    const pageFlip = new St.PageFlip(bookElement, {
        width: 400,
        height: 400,
        size: "stretch",
        minWidth: 315,
        maxWidth: 800,
        minHeight: 420,
        maxHeight: 1350,
        maxShadowOpacity: 0.1,
        showCover: false,
        mobileScrollSupport: false
    });

    pageFlip.loadFromImages([
        {% for i in range(1, number_of_pages + 1) %}
            '{{render_dir}}/page_{{ "%0{}d".format(3)|format(i) }}.jpeg',
        {% endfor %}
    ]);
</script>

</body>
</html>