<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Page Flip</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

<div class="flip-book" id="bookElement">
</div>

<script src="static/page-flip.browser.js"></script>
<script>
    const bookElement = document.getElementById("bookElement");
    const pageFlip = new St.PageFlip(bookElement, {
        width: 400,
        height: 400,
        size: "stretch",
        minWidth: 315,
        maxWidth: 800,
        minHeight: 420,
        maxHeight: 1350,
        maxShadowOpacity: 0.1,
        showCover: false,
        mobileScrollSupport: false
    });

    pageFlip.loadFromImages([
        {% for i in range(1, number_of_pages + 1) %}
            '{{render_dir}}/page_{{ "%0{}d".format(3)|format(i) }}.jpeg',
        {% endfor %}
    ]);

    function createWebSocket(url, reconnectInterval = 1000) {
        let socket;

        function connect() {
            socket = new WebSocket(url);

            socket.onopen = function(event) {
                console.log('WebSocket connection opened:', event);
            };

            socket.onmessage = function(event) {
                console.log('WebSocket message received:', event.data);
                // Handle the received message
            };

            socket.onclose = function(event) {
                console.log('WebSocket connection closed:', event);
                reconnect();
            };

            socket.onerror = function(error) {
                console.log('WebSocket error:', error);
                socket.close(); // Close the socket on error to trigger reconnect
            };
        }

        function reconnect() {
            console.log(`Reconnecting in ${reconnectInterval / 1000} seconds...`);

            setTimeout(function() {
                console.log('Attempting to reconnect...');
                connect();
            }, reconnectInterval);
        }

        // Initial connection
        connect();
    }

    // Usage
    createWebSocket('ws://localhost:8000/ws'); // Reconnect every 2 seconds

</script>

</body>
</html>